@media screen and (max-width: 768px) {

    a {
        -webkit-tap-highlight-color: transparent;
    }

    .container {
        margin-top: 10px;
    }

    #header {
        position: static;
        height: auto;
        // line-height: auto;

        .main-header-wrap {
            position: static;
            display: block;
            text-align: center;

            .avatar {
                margin-left: 0;

                &:before {
                    display: none;
                }
            }
            .title-wrap {
                position: static;
                top: 0;
                left: 0;
                margin-top: 2px;
                height: 28px;
                line-height: 28px;
                font-size: 18px;
            }
            .subtitle-wrap {
                position: static;
                margin: 0 auto;
            }

            .icon-menu {
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: $color-light-gray;
                border-radius: 4px;
                font-size: 28px;
                font-weight: 700;
                color: lighten($color-article, 5%);
                z-index: 999;
            }

            // 导航栏
            .nav {
                display: none;
                position: absolute;
                right: 20px;
                width: 45%;
                border: 1px solid $color-theme;
                border-radius: 2px;
                z-index: 999;
            }

            .nav-link {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 36px;
                line-height: 36px;
                color: $color-bg;
                border: none;
                border-radius: 0;

                &:not(:last-child):after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background: $color-light-gray;
                    -webkit-transform: scaleY(0.5);
                            transform: scaleY(0.5);
                }
            }
        }

        .sub-header-wrap {
            display: none;
        }
    }

    /* articel */
    .article {
        padding-top: 6px;
        margin: 0 20px;  // main-padding

        .article-remark {
            display: none;
            // top: 38px;
            // left: -36px;
        }

        .article-category {
            display: none;
        }

        .article-title-wrap {
            margin-top: 2px;
            font-size: 22px;
            // color: $color-article-title;
        }
    }

    /* 分页 */
    .pagination {
        .page-number,
        .space,
        .prev,
        .next {
            margin-right: 5px;
            padding: 0 8px;
            width: auto;
            height: 24px;
            line-height: 24px;
        }
    }

    /* totop */
    #to-top {
        display: none;
    }

}
