/* reset */
html,body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,span,img,a,form,input,select,label,textarea,button,legend,iframe,blockquote,pre,hr,figure,table,td,th,tr,caption,header,footer,section,article,aside,nav {margin: 0;padding: 0;}
a,button {cursor: pointer;}
a {text-decoration: none;}
fieldset,img {border: 0;}
h1,h2,h3,h4,h5,h6 {font-size:100%}
button,input,select,textarea {font-size:100%}
