body,div,a,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,input,select,textarea,form,p {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

ol,ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    display: block;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}