@charset "UTF-8";

html,body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,span,img,a,form,input,select,label,textarea,button,legend,iframe,blockquote,pre,hr,figure,table,td,th,tr,caption,header,footer,section,article,aside,nav {margin: 0;padding: 0;}
ul,ol {list-style: none;}
a,button {cursor: pointer;}
a {text-decoration: none;}
fieldset,img {border: 0;}
h1,h2,h3,h4,h5,h6 {font-size:100%}
button,input,select,textarea {font-size:100%}
a,button {outline: none}

body {
    background-color: #fac3a1;
}

#container {
    margin: 0 auto;
    // overflow: hidden;
    width: 90%;
    max-width: 800px;
    font-family: "Microsoft YaHei";
}

.game-begin {
    display: block;
    text-align: center;
}

.game-begin h2 {
    margin-top: 120px;
    color: #fff;
    font-size: 38px;
}

.game-begin p {
    margin: 60px 0;
    color: #fff;
    font-size: 18px;
}

.game {
    display: none;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    // box-sizing: border-box;
}

.game .header {
    padding: 0 4px;
    width: 500px;
    margin: 30px auto;
    color: #fdf8f3;
    font-size: 18px;
    text-align: left;
}
.game .score,
.game .time {
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #fbb928;
}
.game .score {
    margin-right: 20px;
}
.game .game-panel {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 0;
    // background-color: #fff;
    // border: 5px solid #fff;
    // border-radius: 5px;
}
.game .game-panel .grid {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    height: 45%;
    width: 45%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #0ac477;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.game-over {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-animation: gameover 1.5s;
            animation: gameover 1.5s;
}

.game-over .header {
    margin-top: 100px;
    color: #fca533;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.game-over h2 {
    margin-top: 50px;
    color: #fff;
    font-size: 38px;
}

.game-over button {
    margin-top: 50px;
}

.btn {
    width: 70%;
    height: 40px;
    max-width: 300px;
    color: #fff;
    background-color: #fbbb22;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .3);
            box-shadow: 0 0 2px rgba(255, 255, 255, .3);
    -webkit-transition: background-color .3s;
            transition: background-color .3s;
}

.btn:hover {
    background-color: #f4b203;
}


@keyframes gameover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes gameover {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes gameover {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}

