* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "microsoft yahei";
}

#container {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 550px;
    background: rgba(254, 214, 143, 1);
}

.title {
    position: relative;
    top: 10px;
    padding-left: 20px;
    width: 180px;
    height: 35px;
    float: left;
    font-size: 22px;
}

#result {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -170px;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background: rgba(248, 164, 17, .6);
}

.hide {
    display: none;
}

#newGame {
    margin: 10px auto;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: rgb(248, 164, 17);
}

#newGame:hover {
    cursor: pointer;
    color: rgb(254, 214, 143);
}
